name: Release Please

defaults:
  run:
    shell: bash

permissions: {}

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write # for creating releases
      pull-requests: write # for creating PRs
      issues: write # for creating labels
    outputs:
      should-deploy: ${{ steps.release-please.outputs.release_created }}
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release-please
        with:
          token: ${{ github.token }}
          release-type: node
